# Flutter/Dart/Pub
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# VS Code
.vscode/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Android
android/.gradle/
android/app/*.keystore
android/local.properties

# iOS / Xcode
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/.last_build_id
ios/Runner.xcworkspace
ios/Runner/GeneratedPluginRegistrant.*

# Xcode workspace settings
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.xcscmblueprint

# Xcode build
DerivedData/
